extends layout.pug

block content
  form(
    method='get'
    action='/'
  )
    input(
      name='url'
      type='text'
      placeholder='givemeaport.com'
      value=defaultUrl
      onfocus='this.select()'
      autofocus
      required
    )

  h1 Select One You Like:

  each port in ports
    - tip= `${port.algorithm}: ${port.port}`
    if !port.isReserved
      p
        = tip
    else
      p
        s= tip
